#Data Science Tools and Ecosystem

#In this notebook, Data Science Tools and Ecosystem are summarized.
  
  ***Objectives:***
   
   - List popular languages for Data Science
   - List of libraries in Data Science
   - R-studio,Git hub

#Some of the popular languages that Data Scientists use are:
 1. python
 2. R
 3. SQL

#Some of the commonly used libraries used by Data Scientists include:
  1. pandas
  2. numpy
  3. scikit-learn

#Data Science Tools
| DATA SCIENCE TOOLS | 
|----------|
| JUPYTER NOTEBOOK |
| GOOGLE-COLAB |
| VISUAL STUDIO |

#Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
    SHANKAR